<script>
	import { goto } from '$app/navigation';
	import Main from '$lib/components/Main.svelte';
	import Button from '$lib/components/Button.svelte';
	const types = [
		{
			id: 'one',
			number: 1,
			pron: 'КАРТА',
			type: 'В ЗАКРЫТУЮ',
			description:
				`Техника 1 карта.
Предназначена для анализа конкретного вопроса, ситуации или поиска нестандартного решения.
Шаги:
1. Сформулируйте вопрос или ситуацию, в которых хотели бы разобраться
2. Получите карту нажав на этот блок`,
			additional: ''
		},
		{
			id: 'three',
			number: 3,
			pron: 'КАРТЫ',
			type: 'В ЗАКРЫТУЮ',
			description:
				'Раскройте более глубокий анализ вашего запроса с трехкарточным раскладом. Познайте прошлое, настоящее и будущее или углубитесь в анализ проблемы.',
			additional: 'Сфера применения: Планирование, решение проблем, личностный рост.'
		},
		{
			id: 'fifteen',
			number: 15,
			pron: 'КАРТ',
			type: 'В ОТКРЫТУЮ',
			description:
				'Исследуйте множество возможностей с 15 открытыми картами. Выберите карты, которые наиболее резонируют с вашим внутренним миром или ситуацией, для комплексного понимания.',
			additional:
				'Сфера применения: Глубокий самоанализ, разработка стратегий, творческое вдохновение.'
		}
	];
</script>

<Main>
	<div class="header">ВЫБЕРИТЕ ТЕХНИКУ</div>
	<div class="cards">
		{#each types as type}
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<!-- svelte-ignore a11y-no-static-element-interactions -->
			<div class="type" on:click={() => goto(type.id)}>
				<div class="card">
					<div class="number">{type.number}</div>
					<div class="numberType">{type.pron}</div>
					<div class="numberType">{type.type}</div>
				</div>
				<div class="description">
					<div>{type.description}</div>
					<div>{type.additional}</div>
				</div>
			</div>
		{/each}
	</div>
	<div class="spacer"/>
	<div class="footer">
		<a href="/history"><Button>ИСТОРИЯ</Button></a>
	</div>
</Main>

<style>
	.spacer{
		min-height: 100px;
	}
	.header{
		position: sticky;
		top:0;
		backdrop-filter: blur(10px);
	}
	.footer{
		position: fixed;
		bottom: 0;
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		width:100%;
		display: flex;
		justify-content: center;
		padding-bottom: 16px;
		box-sizing: border-box;
	}
	.header {
		font-size: 32px;
		color: white;
		margin: 16px;
	}
	.number {
		font-size: 32px;
		text-align: center;
		color: #39262c;
	}
	.numberType {
		font-size: 12px;
		color: #39262c;
		opacity: 0.7;
		white-space: nowrap;
	}
	.description {
		margin-left: 16px;
		color: white;
		font-size: 14px;
		white-space: break-spaces;
	}
	.cards {
		width: 100%;
		max-width: 600px;
	}
	.card {
		background-color: #ffe6d2;
		border: 1px solid #f9dfd1;
		border-radius: 8px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		/* padding: 56px 16px; */
		transition: box-shadow 0.3s;
		padding: 24px 8px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.type {
		display: flex;
		margin-bottom: 16px;
		cursor: pointer;
		flex-grow: 1;
		height: 33%;
	}
	.type:hover .card {
		box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
	}
</style>
