<script>
	import { onMount } from 'svelte';
	import deck from '$lib/utils/deck.js';
	import Header from '$lib/components/Header.svelte';
	import { notesStore } from '$lib/utils/store.js';
	import Popup from '$lib/components/Popup.svelte';
	import Button from '$lib/components/Button.svelte';
	import Main from '$lib/components/Main.svelte';
	import { fade } from 'svelte/transition';
	import { elasticOut } from 'svelte/easing';
	import {pickUnique} from '$lib/utils/utils.js'

	const id = Date.now();
	let allCards = pickUnique(deck, 15);
	let isVisible = false;
	let swiper = null;
	let isComplete = false;
	let title = '';
	let description = '';
	
	function togglePopup() {
		isVisible = !isVisible;
		 title = allCards[swiper.activeIndex].name;
		 description = allCards[swiper.activeIndex].description;
	}
	let cards = [];
	onMount(() => {
		swiper = new window.Swiper('.mySwiper', {
			effect: 'cards',
			grabCursor: true
		});
	});
	const oninput = (e) => {
		notesStore.updateNote({
			id,
			note: e.target.value,
			cards: [...allCards]
		});
	};
	const selectCard = () => {
		cards = [...cards, allCards[swiper.activeIndex]];

		swiper.update();
		allCards = allCards.filter((item, i) => i !== swiper.activeIndex);
		setTimeout(() => swiper.update(), 10);
		// swiper.update()
	};
	const removeCard = (i) => {
		allCards = [
			...allCards.slice(0, swiper.activeIndex),
			cards[i],
			...allCards.slice(swiper.activeIndex, -1)
		];
		cards = cards.filter((item, indx) => indx !== i);
		setTimeout(() => swiper.update(), 10);
		// swiper.update()
	};
	function animate(node, { duration }) {
		return {
			duration,
			css: (t) => {
				const eased = elasticOut(t);
				console.log(eased);
				return `transform: translateY(${t * 100}px) scale(${5 - 4 * t});`;
			}
		};
	}
	const complete = () => {
		isComplete = true;
		allCards = [...cards];
		setTimeout(() => swiper.update(), 0);
	};
</script>

a<Main>
	<Header>15 КАРТ</Header>

	<div class="cardWrapper">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{#each allCards as card (card.id)}
					<div class="swiper-slide">
						<img src={card.id} alt="card" />
					</div>
				{/each}
			</div>
		</div>
	</div>
	<div class="footer">
		<div>
			{#if isComplete}
				<Button on:click={togglePopup}>ЗНАЧЕНИЕ КАРТЫ</Button>
			{:else}
				{#if cards.length < 5}<Button on:click={selectCard}>ВЗЯТЬ КАРТУ</Button>{/if}
				{#if cards.length > 0}<Button on:click={complete}>ГОТОВО</Button>{/if}
			{/if}
		</div>
		{#if isComplete}
			<textarea placeholder="Заметки..." rows={5} on:input={oninput}></textarea>
		{:else}
			<div class="deck">
				{#each cards as item, i (item.id)}
					<!-- svelte-ignore a11y-click-events-have-key-events -->
					<!-- svelte-ignore a11y-no-static-element-interactions -->
					<div
						class="selectedCards"
						on:click={() => removeCard(i)}
						transition:fade={{ duration: 200 }}
					>
						<img src={item.id} alt="card" />
					</div>
				{/each}
			</div>
		{/if}
	</div>
</Main>
<Popup {isVisible} title={title} onClose={togglePopup}>
    <p>{description}</p>
  </Popup>

<style>
	.deck {
		height: 113px;
		display: flex;
	}
	.selectedCards {
		height: 113px;
		margin: 0 4px;
	}
	.selectedCards img {
		height: 100%;
		border-radius: 4px;
		z-index: 2;
	}
	.swiper {
		height: 100%;
		width: 40vh;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2vh;
		font-size: 22px;
	}
	.swiper-slide img {
		height: 100%;
		border-radius: 2vh;
	}
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.cardWrapper {
		flex-grow: 1;
		overflow: hidden;
		width: 100%;
	}
	:global(.swiper-3d .swiper-slide-shadow) {
		background: none;
	}

	textarea {
		background-color: #c1ddda;
		border: 1px solid #8eb2b8;
		width: 100%;
		border-radius: 8px;
		padding: 8px;
		font-size: 16px;
		box-sizing: border-box;
		outline: none;
	}
</style>
