<script>
	import { onMount } from 'svelte';
	import Main from '$lib/components/Main.svelte';
	import Button from '$lib/components/Button.svelte';
	import Header from '$lib/components/Header.svelte';
	import Arrow from '$lib/components/Arrow.svelte';
	import { notesStore } from '$lib/utils/store.js';
	import { goto } from '$app/navigation';
	onMount(() => {
		$notesStore.forEach((item) => {
			const swiper = new window.Swiper(`.mySwiper${item.id}`, {
				effect: 'cards',
				grabCursor: true
			});
		});
	});
</script>

<Main noPadding={true}>
	<Header>ИСТОРИЯ</Header>
	<div class="wrapper">
	{#if $notesStore.length === 0}
		<div class="nothing">У вас еще нет заметок, самое время создать первую!</div>
		<Button on:click={() => goto('/three')}>СОЗДАТЬ</Button>
	{/if}
	{#each $notesStore as note}
		<div class="note">
			<div class="cards">
				<div class={`swiper mySwiper${note.id}`}>
					<div class="swiper-wrapper">
						{#each note.cards as card}
							<div class="swiper-slide">
								<img src={card.id} alt="card" />
							</div>
						{/each}
					</div>
				</div>
			</div>
			<a href={`/history/${note.id}`} class="noteText">
				<div class="date">{new Date(note.created).toISOString().slice(0, 10)}</div>
				{note.note.slice(0, 200)}{#if note.note.length > 200}...{/if}
			</a>
			<a href={`/history/${note.id}`} >
				<div class="arrow">
					<Arrow style="transform:rotate(180deg);" />
				</div>
			</a>
		</div>
		<div class="spacer" />
	{/each}
</div>
</Main>

<style>
	.wrapper{
		padding: 0 16px 16px 16px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.noteText{
		flex-grow: 1;
	}
	.arrow{
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: 8px;
	}
	.spacer {
		width: 100%;
		min-height: 1px;
		height: 1px;
		background-color: white;
		opacity: 0.2;
		max-width: 600px;
		margin: 16px 0;
	}
	.date {
		font-size: 16px;
		text-decoration: underline;
		margin-bottom: 4px;
	}
	.nothing {
		font-size: 24px;
		color: white;
	}
	.note {
		display: flex;
		color: white;
		width: 100%;
		max-width: 600px;
		padding: 8px 0;
		box-sizing: border-box;
	}

	.swiper {
		height: 100px;
		width: 100px;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2vh;
	}
	.swiper-slide img {
		height: 100%;
		border-radius: 2px;
	}
	:global(.swiper-3d .swiper-slide-shadow) {
		background: none;
	}
	a {
		color: white;
		text-decoration: none;
	}
</style>
