@font-face {
    font-family: "philosopher";
    src:
        url("/fonts/philosopher.regular.ttf") format("truetype");
    }

    body{
        font-family: "philosopher", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #010030;
        
    }
    button{
        font-family: "philosopher", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }