<script>
	import { onMount } from 'svelte';
	import deck from '$lib/utils/deck.js';
	import { pickUnique } from '$lib/utils/utils.js';
	import Header from '$lib/components/Header.svelte';
	import { notesStore } from '$lib/utils/store.js';
	import Popup from '$lib/components/Popup.svelte';

	import Button from '$lib/components/Button.svelte';
	import Main from '$lib/components/Main.svelte';

	const id = Date.now();
	let cards = pickUnique(deck);
	let isVisible = false;
	let title = '';
	let description = '';
	let swiper;

	function togglePopup() {
		isVisible = !isVisible;
		title = cards[swiper.activeIndex].name
		description = cards[swiper.activeIndex].description
	}
	onMount(() => {
		 swiper = new window.Swiper('.mySwiper', {
			effect: 'cards',
			grabCursor: true
		});
	});
	const oninput = (e) => {
		notesStore.updateNote({
			id,
			note: e.target.value,
			cards: [...cards]
		});
	};
</script>

a<Main>
	<Header>ТРИ КАРТЫ</Header>

	<div class="cardWrapper">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{#each cards as card}
					<div class="swiper-slide">
						<img src={card.id} alt="card" />
					</div>
				{/each}
			</div>
		</div>
	</div>
	<div class="footer">
		<Button on:click={togglePopup}>ЗНАЧЕНИЕ КАРТЫ</Button>
		<textarea placeholder="Заметки..." rows={5} on:input={oninput}></textarea>
	</div>
</Main>
<Popup {isVisible} title={title} onClose={togglePopup}>
	<p>{description}</p>
</Popup>

<style>
	.swiper {
		height: 100%;
		width: 40vh;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2vh;
		font-size: 22px;
	}
	.swiper-slide img {
		height: 100%;
		border-radius: 2vh;
	}
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.cardWrapper {
		flex-grow: 1;
		overflow: hidden;
		width: 100%;
	}
	:global(.swiper-3d .swiper-slide-shadow) {
		background: none;
	}

	textarea {
		background-color: #c1ddda;
		border: 1px solid #8eb2b8;
		width: 100%;
		border-radius: 8px;
		padding: 8px;
		font-size: 16px;
		box-sizing: border-box;
		outline: none;
	}
</style>
