<script>
	export let style='';
</script>
<svg width="24" height="24" viewBox="0 0 23 40" fill="none" xmlns="http://www.w3.org/2000/svg" style={style}>
	<path
		d="M0.584623 21.4276L18.5725 39.4095C19.3618 40.1968 20.6406 40.1968 21.4319 39.4095C22.2212 38.6222 22.2212 37.3434 21.4319 36.5561L4.87078 20.001L21.4299 3.44586C22.2192 2.65856 22.2192 1.37977 21.4299 0.590478C20.6406 -0.196826 19.3598 -0.196826 18.5705 0.590478L0.58263 18.5722C-0.194542 19.3514 -0.194542 20.6503 0.584623 21.4276Z"
		fill="white"
	/>
</svg>
