<button on:click><slot/></button>

<style>
    button {
		background-color: #ecd9cd;
		border: 1px solid #d0a789;
		outline: none;
		padding: 8px 16px;
		border-radius: 8px;
		font-size: 16px;
        color: #39262C;
        margin: 8px;
		cursor: pointer;
		max-width: 400px;
	}
</style>