<script>
	import Arrow from '$lib/components/Arrow.svelte';
	import Trash from '$lib/components/Trash.svelte';
	import Question from '$lib/components/Question.svelte';
	import { goto } from '$app/navigation';
	export let target = '/';
	export let onDelete;
	export let onQuestion;
</script>

<div class="header">
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<button on:click={() => goto(target)} class="button">
		<Arrow />
	</button>
	<div class="title"><div class="text"><slot /></div></div>
	{#if onDelete}<button on:click={onDelete} class="button"><Trash /></button>
	{:else if onQuestion}<button on:click={onQuestion} class="button"><Question /></button>
	{:else}
		<div class="spacer" />
	{/if}
</div>

<style>
	.text {
		font-size: 32px;
		color: white;
	}
	.header {
		display: flex;
		width: 100%;
		padding: 16px 0;
		align-items: center;
		position: sticky;
		top: 0;
		margin: 0;
		box-sizing: border-box;

		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		z-index: 22;
	}
	.title {
		flex-grow: 1;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.spacer {
		width: 32px;
	}
	.button {
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
	}
</style>
