<script>
	export let noPadding = false;
</script>
<div class="main" class:noPadding>
    <slot/>
</div>

<style>
	
	.main {
		background-image: url('/img/bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 16px 16px 16px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
	}
	@media (max-width: 600px){
		.main{
			padding: 0 8px 8px 8px;
		}
	}
	.noPadding{
		padding: 0;
	}
</style>
