<script>
	import Close from './Close.svelte';
	import { fade } from 'svelte/transition';
	export let isVisible = false; // Состояние видимости всплывающего окна
	export let title = 'Popup Title'; // Заголовок всплывающего окна
	export let onClose = () => {}; // Функция для обработки закрытия всплывающего окна
</script>

{#if isVisible}
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<div class="popup-overlay" on:click={onClose} transition:fade={{ duration: 200 }}>
		<div class="popup" on:click|stopPropagation>
			<div class="popup-header">
				<div class="title">{title}</div>
				<button class="close-btn" on:click={onClose}><Close/></button>
			</div>
			<div class="popup-body">
				<slot />
				
			</div>
		</div>
	</div>
{/if}

<style>
  .title{
    font-size: 24px;
  }
	.popup-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 99;
		backdrop-filter: blur(5px);
	}

	.popup {
		background: white;
		border-radius: 8px;
		padding: 16px;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
		max-width: 600px;
		margin: 0 8px;
		box-sizing: border-box;
	}

	.popup-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.close-btn {
		cursor: pointer;
		border: none;
		background: none;
		font-size: 1.5rem;
	}

	.popup-body {
		margin-top: 20px;
		white-space: break-spaces;
	}
</style>
