<script>
	import { onMount } from 'svelte';
    import Popup from '$lib/components/Popup.svelte';
	import deck from '$lib/utils/deck.js';
	import Button from '$lib/components/Button.svelte';
	import Main from '$lib/components/Main.svelte';
	import Header from '$lib/components/Header.svelte';
	import {notesStore} from '$lib/utils/store.js'
	const id = Date.now();

	let card = {};
	let title = '';
	let description = ''
	onMount(() => {
		card = deck[Math.floor(Math.random() * deck.length)];
	});

    let isVisible = false;

  function togglePopup() {
    isVisible = !isVisible;
	title = card.name;
	description = card.description
  }
  let note = ''
  const oninput = (e)=>{
	notesStore.updateNote({
		id, note: e.target.value,
		cards: [card]
	})
  }
  const onQuestion = ()=>{
	isVisible = !isVisible;
	title = "Глядя на карту, ответьте на вопросы"
	description = `- Что я вижу на картинке?
 - Что происходит на картинке?
 - Кто я на этой картинке?
 - Что я чувствую глядя на эту картинку?
 - Как то, что изображено на картинке соотносится с вашим вопросом/ситуацией?
 - Что бы вам хотелось сделать глядя на карту?`
  }

</script>

<Main>
	<Header onQuestion={onQuestion}>ОДНА КАРТА</Header>
    
	<div class="cardWrapper">
		<div class="card">
			<img src={card.id} alt="card" />
		</div>
	</div>
	<div class="footer">
	<Button on:click={togglePopup}>ЗНАЧЕНИЕ КАРТЫ</Button>
	<textarea placeholder="Заметки..." rows={5} bind:value={note} on:input={oninput}></textarea>
</div>
</Main>
<Popup {isVisible} title={title} onClose={togglePopup}>
    <p>{description}</p>
  </Popup>
<style>
	.footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.cardWrapper{
		flex-grow: 1;
		overflow: hidden;
	}
	.card{
		height: 100%;
	}
	.card img {
		height: 100%;
		border-radius: 2vh;
	}
	
	textarea {
		background-color: #c1ddda;
		border: 1px solid #8eb2b8;
		width: 100%;
		border-radius: 8px;
		padding: 8px;
		font-size: 16px;
        box-sizing: border-box;
		outline: none;
	}
</style>
